:host {
  display: flex;
  flex-direction: column;

  text-align: center;
}

mat-card {
  margin: 5rem;
//   mat-card-title {
//  background: var($primary);
//  }
}
    .file-upload-container {
        display: grid;
        text-align: center;
      
        input {
          display: none;
        }
      
    
  }

